<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>I develop with passion apps and web sites for people.</h1>
                <p>I keep learning about new technologies and developing apps fot my own pleasure
                    i developed this web with Python and Flask!
                    and i want to know more about this world!
                </p>
            </div>
            <div class="right padded">
                <h1>We can talk about whatever you want!</h1>
                <p>Just send me a mail <a href="#contact" class="orange">clicking here</a></p>
            </div>
        </div>
    </div>
</div>
</div>