<div class="center padded white-bg">
    <div class="content padded">
        <div class="paded">
            <h1>Aren't you convinced? look at what i have built!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>An app that sends mails using the Sendgrid API.</p>
                <a target="_blank" href="https://flask-app-production-a675.up.railway.app/" class="orange">Link...</a>
            </div>
            <div class="card third">
                <h3>Clients manager</h3>
                <p>An app to manage my clients</p>
                <a href="{{ url_for('static', filename='clients.exe') }}" class="orange">Link...</a>
            </div>
            <div class="card third">
                <h3>Homeworks manager</h3>
                <p>An app to manage my homeworks</p>
                <a href="{{ url_for('static', filename='db.exe') }}" class="orange">Link...</a>
            </div>
        </div>
    </div>
</div>